.App {
  text-align: center;
}

.footer {
  background-color: #F8F9FA;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;

}

.copyright {
  color: lightgray;
}

.logo img {
  height: 100%;
  width: 40%;
}

.logo {
  text-align: center !important;
}

.header {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
  justify-content: center;
  text-align: left;
}

.header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 70px;
}

.header h4, .header p {
  color: gray;
}
