.register_form {
  width: 50%;
  position: center;
  display: block;
  text-align: center;
  margin: 0 auto;
}
label {
  text-align: left;
}

/* body {
  font-family: Arial;
  text-align: center;
} */
